<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="robot_namespace" default="/"/>
  <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
  <arg name="realsense_enabled" default="$(optenv HUSKY_REALSENSE_ENABLED false)"/>
  <arg name="urdf_extras" default="$(find rocuto_h23)/urdf/description/accessories_HVL.urdf.xacro"/>
  <arg name="rocuto" default="$(find rocuto_h23)/urdf/rocuto_pkg/rocuto_with_macros.urdf.xacro"/>

  <param name="robot_description"
         command="$(find xacro)/xacro '$(find rocuto_h23)/urdf/description/include/husky.urdf.xacro'
                    robot_namespace:=$(arg robot_namespace)
                    laser_enabled:=$(arg laser_enabled)
                    realsense_enabled:=$(arg realsense_enabled)
                    urdf_extras:=$(arg urdf_extras)
                    rocuto:=$(arg rocuto)
                    "/>


  <remap from="/joint_states" to="/myrobot/joint_states" />

  <!-- send joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>

  <!-- Combine joint values -->
  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="100.0" />
     <param name="tf_prefix" value="mobile_manipulator" />
  </node> -->

  <rosparam file="$(find rocuto_h23)/config/rocuto_pkg/rocuto_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="rocuto"
    args="joint_state_controller link1 link2"/>

  <!-- Show in Rviz  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rocuto_h23)/config/rocuto_pkg/rviz_config.rviz"/> -->

</launch>
