<launch>
    <rosparam command="load" file="$(find rocuto_h23)/config/dynamixel/joint_state_publisher_config.yaml" />

    <node name="dynamixel_publisher" pkg="rocuto_h23" type="dynamixel_joint_state_publisher.py" output="screen" />

    <node name="dynamixel_subscriber" pkg="rocuto_h23" type="dynamixel_rr_subscriber.py" output="screen" />
    
    <remap from="JointStates" to="/dynamixel_command" />

</launch>
