<?xml version="1.0"?>
<launch>
<!-- Convert xacro and put on parameter server -->
<!--
<param name="robot_description" command="$(find xacro)/xacro $(find mbs_husky_description)/urdf/include/husky.urdf.xacro" />
-->

<include file="$(find mbs_husky_description)/launch/description.launch" />

<!--
<arg name="robot_namespace" default="/"/>

<param name="robot_description" command="$(find xacro)/xacro '$(find mbs_husky_description)/urdf/include/husky.urdf.xacro'
 robot_namespace:=$(arg robot_namespace)" />
-->

<!-- Spawn a robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot" />
</launch>
