<?xml version="1.0"?>
<launch>

  <arg name="multimaster" default="$(optenv ROBOT_MULTIMASTER false)"/>
  <arg name="simulation" default="$(optenv ROBOT_SIMULATION false)"/>
  <arg name="robot_namespace" default="$(optenv ROBOT_NAMESPACE robot)"/>
  <arg name="enable_ekf" default="$(optenv ENABLE_EKF true)"/>

  <arg name="config_extras"
       default="$(eval optenv('HUSKY_CONFIG_EXTRAS', find('husky_control') + '/config/empty.yaml'))"/>

  <include file="$(find multimaster_launch)/launch/multimaster_robot.launch" if="$(arg multimaster)">
    <arg name="gazebo_interface" value="$(find husky_control)/config/gazebo_interface.yaml" />
    <arg name="public_interface" value="$(find husky_control)/config/public_interface.yaml" />
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="simulation" value="$(arg simulation)"/>
  </include>

  <!-- Load robot description -->
  <include file="$(find rocuto_h23)/launch/description/description.launch" >
  </include>

  <remap from="/joint_states" to="/myrobot/joint_states" />

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find rocuto_h23)/config/sim/controller_sim.yaml" />
  <rosparam command="load" file="$(find rocuto_h23)/config/rocuto_pkg/rocuto_control.yaml" />
 

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="husky_joint_publisher husky_velocity_controller"/>
  <rosparam param="wheel_radius_multiplier" ns="husky_velocity_controller" subst_value="True">
        $(optenv HUSKY_WHEEL_MULTIPLIER 1.0)
  </rosparam>

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="rocuto"
    args="joint_state_controller link1 link2"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rocuto_h23)/config/rocuto_pkg/rviz_config.rviz"/>

  <!-- Start EKF for localization -->
  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find husky_control)/config/localization.yaml" />
    </node>
  </group>

  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


	<node name="dynamixel_interface_node" pkg="dynamixel_interface" type="dynamixel_interface_controller_node" output="screen">
		<rosparam command="load" file="$(find my_dynamixel)/config/controller_config.yaml" />
      <!-- <remap from="/myrobot/joint_states" to="/JointStates" /> -->
	</node>

  <node pkg="rocuto_h23" type="dynamixel_joint_state_publisher.py" name="dynamixel_publisher">
    <rosparam command="load" file="$(find rocuto_h23)/config/dynamixel/joint_state_publisher_config.yaml" />
    <!-- <remap from="/myrobot/joint_states" to="/JointState" /> -->
  </node>
    
  <node name="dynamixel_sunscriber_node" pkg="rocuto_h23" type="dynamixel_subscriber.py" output="screen" >
    <param name="DXL1_ID" type="int" value="62"/>
    <param name="DXL2_ID" type="int" value="63"/>
    <param name="BAUDRATE" type="int" value="1000000"/>
    <param name="DEVICENAME" type="string" value="/dev/ttyUSB0"/>
    <remap from="/JointState" to="/desired_joint_states" />
  </node>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="husky_velocity_controller/cmd_vel"/>
  </node>


  <!-- Override the default control parameters, see config/empty.yaml for default. -->
  <rosparam command="load" file="$(arg config_extras)" />

</launch>